In [1]:
import main

In [2]:
main.tabel()

Enter the value: 4

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [3]:
main.func2()

Var1: 2
Var2: 3

Sum: 5

In [4]:
import main as m

In [5]:
m.tabel()

Enter the value: 10

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [6]:
m.func2()

Var1: 45
Var2: 69

Sum: 114

In [8]:
from main import tabel,func2

In [9]:
tabel()

Enter the value: 8

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [10]:
func2()

Var1: 78
Var2: 89

Sum: 167

In [11]:
import mod1.test

In [12]:
mod1.test.tabel()

Enter the value: 6

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [13]:
from mod1.test import tabel

In [14]:
tabel()

Enter the value: 8

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [15]:
import mod1.sub_mod.test2

In [16]:
mod1.sub_mod.test2.func3(2,8)

Pow: 256

In [17]:
from mod1.sub_mod.test2 import func3

In [18]:
func3(2,10)

Pow: 1024

# List

In [21]:
print(list(range(0,11)))
l1 = list(range(0,11))
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
name = ["Vishwajeet","Abhay","Vinay","Rohan"]

print(name)
print(type(name))

['Vishwajeet', 'Abhay', 'Vinay', 'Rohan']
<class 'list'>

In [24]:
l2 = ["Data Science","AI", True, False, None, 3.041, 13, 99]
print(l2)

['Data Science', 'AI', True, False, None, 3.041, 13, 99]

In [25]:
name

['Vishwajeet', 'Abhay', 'Vinay', 'Rohan']

In [26]:
len(name)

4

In [28]:
name[0]
name[1]

'Abhay'

In [29]:
name[3]

'Rohan'

In [30]:
name[-1]

'Rohan'

In [31]:
name[len(name)-1]

'Rohan'

In [32]:
name

['Vishwajeet', 'Abhay', 'Vinay', 'Rohan']

In [33]:
name[:]

['Vishwajeet', 'Abhay', 'Vinay', 'Rohan']

In [34]:
name[1:3]

['Abhay', 'Vinay']

In [35]:
name[1:-1]

['Abhay', 'Vinay']

In [36]:
l1 = [[10,20,30],
      [40,50,60],
      [70,80,90]]

In [37]:
l1

[[10, 20, 30], [40, 50, 60], [70, 80, 90]]

In [38]:
l1[1]

[40, 50, 60]

In [39]:
len(l1)

3

In [40]:
l1[0][0]

10

In [41]:
l1[-1][-1]

90

In [42]:
l2 = [10,20,30,40,50,60,70]

In [43]:
l2

[10, 20, 30, 40, 50, 60, 70]

In [44]:
len(l2)

7

In [45]:
min(l2)

10

In [46]:
max(l2)

70

In [47]:
sum(l2)

280

In [48]:
sum(l2)/len(l2)

40.0

## index(), append(), insert(), remove(), sort(), pop()

In [49]:
name

['Vishwajeet', 'Abhay', 'Vinay', 'Rohan']

In [50]:
name.index('Abhay')

1

In [51]:
name.index('Rohan')

3

In [52]:
name

['Vishwajeet', 'Abhay', 'Vinay', 'Rohan']

In [53]:
name.append("Vivek")

In [54]:
name

['Vishwajeet', 'Abhay', 'Vinay', 'Rohan', 'Vivek']

In [55]:
name.append('Amit')

In [56]:
name

['Vishwajeet', 'Abhay', 'Vinay', 'Rohan', 'Vivek', 'Amit']

In [57]:
name.insert(2, "Anil")

In [58]:
name

['Vishwajeet', 'Abhay', 'Anil', 'Vinay', 'Rohan', 'Vivek', 'Amit']

In [59]:
name[1] = "Amol"

In [60]:
name

['Vishwajeet', 'Amol', 'Anil', 'Vinay', 'Rohan', 'Vivek', 'Amit']

In [61]:
name.remove("Amol")

In [62]:
name

['Vishwajeet', 'Anil', 'Vinay', 'Rohan', 'Vivek', 'Amit']

In [63]:
name.pop()

'Amit'

In [64]:
name

['Vishwajeet', 'Anil', 'Vinay', 'Rohan', 'Vivek']

In [66]:
name.pop(2)

'Vinay'

In [67]:
name

['Vishwajeet', 'Anil', 'Rohan', 'Vivek']

In [70]:
name.sort(reverse=True)

In [71]:
name

['Vivek', 'Vishwajeet', 'Rohan', 'Anil']

## Exercise

In [73]:
value = []

while True:
    print("S.No:",len(value)+1)
    x = input()
    
    if x == "quit":
        break
        
    value.append(x)
    
for item in value:
    print(item)

S.No: 1

 Vishwajeet

S.No: 2

 Rohan

S.No: 3

 Vinay

S.No: 4

 Amol

S.No: 5

 Abha

S.No: 6

 quit

Vishwajeet
Rohan
Vinay
Amol
Abha

In [76]:
value = []

while True:
    print("S.No:",len(value)+1)
    x = int(input())
    
    if x == 0:
        break
        
    value.append(x)
    
for item in value:
    
    for i in range(1,11):
        num2 = i * item
        print(f"{item} * {i} = {num2}")
    print("**"*30)

S.No: 1

 12

S.No: 2

 13

S.No: 3

 14

S.No: 4

 0

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
************************************************************
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130
************************************************************
14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140
************************************************************

## List Comprihensions

In [77]:
str1 = "Vishwajeet"

In [78]:
mylist = []

for letter in str1:
    mylist.append(letter)
print(mylist)

['V', 'i', 's', 'h', 'w', 'a', 'j', 'e', 'e', 't']

In [79]:
mylist = [letter for letter in str1]

In [80]:
mylist

['V', 'i', 's', 'h', 'w', 'a', 'j', 'e', 'e', 't']

In [81]:
l1 = [x for x in range(0,11)]
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
l2 = [x*x for x in range(0,11)]
print(l2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [83]:
l3 = [x for x in range(0,20) if x%2 == 0]
print(l3)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [84]:
l4 = [x if x%2==0 else "odd" for x in range(0,20)]
print(l4)

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10, 'odd', 12, 'odd', 14, 'odd', 16, 'odd', 18, 'odd']

In [85]:
l1 = []

for x in [2,4,6]:
    for y in [1,10,100]:
        l1.append(x*y)

In [86]:
l1

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [87]:
l2 = [x*y for x in [2,4,6] for y in [1, 10,100]]
print(l2)

[2, 20, 200, 4, 40, 400, 6, 60, 600]

# Exercise

In [92]:
c = [0,10,20.3,38.5,33.5]

f = []

for temp in c:
    f.append((9/5)*temp+ 32)

In [93]:
f

[32.0, 50.0, 68.53999999999999, 101.3, 92.30000000000001]

In [94]:
l3 = [((9/5)*temp+32)for temp in c]
print(l3)

[32.0, 50.0, 68.53999999999999, 101.3, 92.30000000000001]

## tuple

In [95]:
t1 = (10,20,30,40,50)

In [96]:
t1

(10, 20, 30, 40, 50)

In [97]:
t1[0]

10

In [98]:
t1[0] = 12

TypeError: 'tuple' object does not support item assignment

In [99]:
del t1[1]

TypeError: 'tuple' object doesn't support item deletion

In [100]:
len(t1)

5

In [101]:
sum(t1)

150

In [102]:
min(t1)

10

In [103]:
max(t1)

50

## set()

In [104]:
l1 = [1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,4,5,5,5,6,6,6,7,7,7,8,8]

In [105]:
x = set(l1)

In [106]:
x

{1, 2, 3, 4, 5, 6, 7, 8}

## Dictionaries

In [107]:
mydict = {"key1":"value1", "key2":"value2", "key3":"value3"}

In [108]:
mydict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [109]:
mydict["key1"]

'value1'

In [110]:
mydict["key3"]

'value3'

In [111]:
l1 = [10,20,30,40]
l2 = [20,30,10,40]

In [112]:
l1 == l2

False

In [114]:
d1 = {"key1":"value1", "key2":"value2", "key3":"value3"}

d2 = {"key3":"value3", "key2":"value2", "key1":"value1"}

In [115]:
d1 == d2

True

In [116]:
d3 = {"key1":894562, "key2":[10,20,30,40], "key3":["ml","dl","AI"]}

In [117]:
d3

{'key1': 894562, 'key2': [10, 20, 30, 40], 'key3': ['ml', 'dl', 'AI']}

In [119]:
d3["key2"][1:-1]

[20, 30]

In [120]:
d3["key3"][2]

'AI'

In [121]:
d3.keys()

dict_keys(['key1', 'key2', 'key3'])

In [122]:
d3.values()

dict_values([894562, [10, 20, 30, 40], ['ml', 'dl', 'AI']])

In [123]:
d3.items()

dict_items([('key1', 894562), ('key2', [10, 20, 30, 40]), ('key3', ['ml', 'dl', 'AI'])])

## Exercise

In [128]:
birthday = {"Vishwajeet":"Aug1", "Ayush":"Aug2", "Pranay":"Aug3"}

while(1):
    print("Please enter the name:")
    name = input()
    
    if name == "quit":
        break
        
    if name in birthday:
        print(birthday[name],"is the birthday of",name)
        
    else:
        print(name,"is not availabel.")
        print("Do you wish to enter the birthday??")
        bday = input()
        birthday[name] = bday
        print("Brithday is updated!!!")
        print(birthday)

Please enter the name:

 Vivek

Vivek is not availabel.
Do you wish to enter the birthday??

 Aug10

Brithday is updated!!!
{'Vishwajeet': 'Aug1', 'Ayush': 'Aug2', 'Pranay': 'Aug3', 'Vivek': 'Aug10'}
Please enter the name:

 Vivek

Aug10 is the birthday of Vivek
Please enter the name:

 quit

## Classes in Python

In [129]:
class Sample():
    pass

In [130]:
mysample = Sample()

In [131]:
mysample.name = "Ravi"
mysample.age = 25
mysample.married = True

In [133]:
print(mysample.name)
print(mysample.age)
print(mysample.married)

Ravi
25
True

In [136]:
class Person():
    
    def __init__(self, name, age):
        self.name =  name
        self.age = age
        self.married = True

In [137]:
per1 = Person("Vishwajeet", 33)

In [138]:
per1.name

'Vishwajeet'

In [139]:
per1.age

33

In [140]:
per1.married

True

In [141]:
per1.married = False

In [142]:
print(per1.married)

False

## Exercise

In [159]:
class Account:
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        print("Account has been created for {}.".format(self.name))
        
    def deposite(self, amount):
        if amount > 0:
            self.balance+=amount
            
    def withdraw(self, amount):
        if 0 < amount < self.balance:
            self.balance-=amount
        else:
            print("Account do not have sufficent balance.")
            print("Current balance is ")
        self.show_balance()
    
    def show_balance(self):
            print("Your current balance is INR {}\-".format(self.balance))

In [160]:
cust1 = Account("Deepak", 5000)

Account has been created for Deepak.

In [161]:
cust1.show_balance()

Your current balance is INR 5000\-

In [162]:
cust1.deposite(30000)

In [163]:
cust1.show_balance()

Your current balance is INR 35000\-

In [164]:
cust1.withdraw(15000)

Your current balance is INR 20000\-

In [165]:
cust1.show_balance()

Your current balance is INR 20000\-

In [166]:
cust1.withdraw(35000)

Account do not have sufficent balance.
Current balance is
Your current balance is INR 20000\-

In [158]:
cust1.show_balance()

Your current balance is INR -15000\-

In [167]:
import datetime
import pytz

In [180]:
class Account:
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.transaction_list = []
        print("Account has been created for {}.".format(self.name))
        
    def deposite(self, amount):
        if amount > 0:
            self.balance+=amount
            self.show_balance()
            self.transaction_list.append((pytz.utc.localize(datetime.datetime.utcnow()), amount))
            
    def withdraw(self, amount):
        if 0 < amount < self.balance:
            self.balance-=amount
            self.transaction_list.append((pytz.utc.localize(datetime.datetime.utcnow()), -amount))
        else:
            print("Account do not have sufficent balance.")
            print("Current balance is ")
        self.show_balance()
    
    def show_balance(self):
            print("Your current balance is INR {}\-".format(self.balance))
            
    def show_trans(self):
        for date,amount in self.transaction_list:
            if amount > 0:
                trans_type = "deposite"
            else:
                trans_type = "withdraw"
                amount = -amount
            
            print("{} {} on {}". format(amount, trans_type, date.astimezone()))

In [186]:
cust2 = Account("Vishwajeet", 10000)

Account has been created for Vishwajeet.

In [187]:
cust2.show_balance()

Your current balance is INR 10000\-

In [188]:
cust2.deposite(50000)

Your current balance is INR 60000\-

In [189]:
cust2.withdraw(10000)

Your current balance is INR 50000\-

In [190]:
cust2.show_trans()

50000 deposite on 2021-09-13 15:40:20.777556+05:30
10000 withdraw on 2021-09-13 15:40:36.317277+05:30

In [191]:
import datetime
import pytz

In [192]:
class Account:
    
    @staticmethod
    def _current_time():
        utc_now = datetime.datetime.utcnow()
        return pytz.utc.localize(utc_now)
    
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.transaction_list = []
        print("Account has been created for {}.".format(self.name))
        
    def deposite(self, amount):
        if amount > 0:
            self.balance+=amount
            self.show_balance()
            self.transaction_list.append((Account._current_time(), amount))
            
    def withdraw(self, amount):
        if 0 < amount < self.balance:
            self.balance-=amount
            self.transaction_list.append((Account._current_time(), -amount))
        else:
            print("Account do not have sufficent balance.")
            print("Current balance is ")
        self.show_balance()
    
    def show_balance(self):
            print("Your current balance is INR {}\-".format(self.balance))
            
    def show_trans(self):
        for date,amount in self.transaction_list:
            if amount > 0:
                trans_type = "deposite"
            else:
                trans_type = "withdraw"
                amount = -amount
            
            print("{} {} on {}". format(amount, trans_type, date.astimezone()))

In [193]:
print(Account._current_time())

2021-09-13 10:15:20.161194+00:00

In [194]:
cust2 = Account("Vishwajeet", 10000)

Account has been created for Vishwajeet.

In [195]:
cust2.deposite(60000)

Your current balance is INR 70000\-

In [196]:
cust2.withdraw(20000)

Your current balance is INR 50000\-

In [197]:
cust2.show_trans()

60000 deposite on 2021-09-13 15:45:57.546331+05:30
20000 withdraw on 2021-09-13 15:46:14.091762+05:30

## Inheritance

In [215]:
class Body:
    
    def __init__(self,name,age,gender):
        self.name = name
        self.age = age
        self.gender = gender
        
    def eyes(self):
        print("{} can see things.".format(self.name))
        
    def ears(self):
        print("{} can hear music.".format(self.name))
        
    def nose(self):
        print("{} can smell".format(self.name))
        
class Man(Body):
    
    def __init__(self, *args):
#         Body.__init__(self, *args)
        super(Man, self).__init__(*args)
        print("Man class is created.")
        
    def eyes(self):
        print("{} has brown eyes.".format(self.name))

class Women():
    pass

In [216]:
man = Body("Vishwajeet", 30, "Male")

In [217]:
man.ears()

Vishwajeet can hear music.

In [218]:
man.nose()

Vishwajeet can smell

In [219]:
man.eyes()

Vishwajeet can see things.

In [220]:
man2 = Man("Vivek", 25, "male")

Man class is created.

In [221]:
man2.name

'Vivek'

In [222]:
man2.ears()

Vivek can hear music.

In [223]:
man2.eyes()

Vivek has brown eyes.

## Encapsulation

In [224]:
class Tyres:
    def __init__(self, brand, size):
        self.brand = brand
        self.size = size
        
    def __str__(self):
        return ("Brand: " + self.brand + " Size: " + str(self.size))

class Engine:
    def __init__(self, fule_type, hp):
        self.fule_type = fule_type
        self.hp = hp
    
    def __str__(self):
        return ("Fule Type: " + self.fule_type + " Power: " + str(self.hp))

class Body:
    def __init__(self, chassis):
        self.chassis = chassis
    
    def __str__(self):
        return ("Chassis: " + self.chassis)

class Car:
    def __init__(self, tyres, engine, body):
        self.tyres = tyres
        self.engine = engine
        self.body = body
        
    def __str__(self):
        return str(self.tyres)+"\n"+str(self.engine)+"\n"+str(self.body)

In [225]:
t = Tyres("MRF", 75)
e = Engine("Diesel", 700)
b = Body("Metal")
c = Car(t,e,b)

In [226]:
print(c)

Brand: MRF Size: 75
Fule Type: Diesel Power: 700
Chassis: Metal

In [227]:
print(t)

Brand: MRF Size: 75

In [228]:
print(e)

Fule Type: Diesel Power: 700

In [229]:
print(b)

Chassis: Metal

# Polymorphism

In [230]:
class Dog():
    def __init__(self, name):
        self.name = name
        
    def speak(self):
        return self.name + " barks."
    
class Cat():
    def __init__(self, name):
        self.name = name
        
    def speak(self):
        return self.name + " Meow."

In [231]:
niko = Dog("Niko")
veronika = Cat("Veronika")

In [233]:
print(niko.speak())
print(veronika.speak())

Niko barks.
Veronika Meow.

In [234]:
def pet_speak(pet):
    print(pet.speak())

In [235]:
pet_speak(niko)

Niko barks.

In [236]:
pet_speak(veronika)

Veronika Meow.