In [2]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('Dataset/credit-card-default.csv')
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,defaulted
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         30000 non-null  int64
 1   LIMIT_BAL  30000 non-null  int64
 2   SEX        30000 non-null  int64
 3   EDUCATION  30000 non-null  int64
 4   MARRIAGE   30000 non-null  int64
 5   AGE        30000 non-null  int64
 6   PAY_0      30000 non-null  int64
 7   PAY_2      30000 non-null  int64
 8   PAY_3      30000 non-null  int64
 9   PAY_4      30000 non-null  int64
 10  PAY_5      30000 non-null  int64
 11  PAY_6      30000 non-null  int64
 12  BILL_AMT1  30000 non-null  int64
 13  BILL_AMT2  30000 non-null  int64
 14  BILL_AMT3  30000 non-null  int64
 15  BILL_AMT4  30000 non-null  int64
 16  BILL_AMT5  30000 non-null  int64
 17  BILL_AMT6  30000 non-null  int64
 18  PAY_AMT1   30000 non-null  int64
 19  PAY_AMT2   30000 non-null  int64
 20  PAY_AMT3   30000 non-null  int64
 21  PAY_AMT4   30000 non-null  int64
 22  PAY_AMT5   30000 non-null  int64
 23  PAY_AMT6   30000 non-null  int64
 24  defaulted  30000 non-null  int64
dtypes: int64(25)
memory usage: 5.7 MB

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X = df.drop("defaulted", axis=1)

y = df["defaulted"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [7]:
from sklearn.ensemble import RandomForestClassifier

In [8]:
rfc = RandomForestClassifier()

In [9]:
rfc.fit(X_train, y_train)

RandomForestClassifier()

In [10]:
predictions = rfc.predict(X_test)

In [11]:
predictions

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [12]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [13]:
cm = confusion_matrix(y_test, predictions)

In [14]:
cm

array([[6658,  400],
       [1238,  704]], dtype=int64)

In [15]:
ac = accuracy_score(y_test, predictions)

In [16]:
ac

0.818

In [23]:
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV

In [24]:
n_folds = 5

parameters = {'max_depth': range(2,20,5)}

rf = RandomForestClassifier()

rf = GridSearchCV(rf, parameters, cv=n_folds, scoring='accuracy')

rf.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(),
             param_grid={'max_depth': range(2, 20, 5)}, scoring='accuracy')

In [25]:
scores = rf.cv_results_
scores
pd.DataFrame(scores)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,1.682900,0.043155,0.070160,0.005741,2,{'max_depth': 2},0.800000,0.802857,0.799048,0.798095,0.795952,0.799190,0.002272,4
1,4.062704,0.191934,0.102360,0.033508,7,{'max_depth': 7},0.816429,0.821429,0.817857,0.811905,0.816429,0.816810,0.003059,2
2,5.126117,0.702530,0.126779,0.029601,12,{'max_depth': 12},0.816190,0.818095,0.821667,0.814286,0.817619,0.817571,0.002439,1
3,7.444717,0.760262,0.167671,0.021065,17,{'max_depth': 17},0.813571,0.815000,0.817857,0.808571,0.814286,0.813857,0.003017,3

In [26]:
scores

{'mean_fit_time': array([1.68289986, 4.06270399, 5.12611732, 7.44471698]),
 'std_fit_time': array([0.04315482, 0.19193382, 0.70252996, 0.76026219]),
 'mean_score_time': array([0.07016029, 0.10236006, 0.12677851, 0.16767092]),
 'std_score_time': array([0.00574145, 0.03350847, 0.02960082, 0.02106493]),
 'param_max_depth': masked_array(data=[2, 7, 12, 17],
              mask=[False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'max_depth': 2},
  {'max_depth': 7},
  {'max_depth': 12},
  {'max_depth': 17}],
 'split0_test_score': array([0.8       , 0.81642857, 0.81619048, 0.81357143]),
 'split1_test_score': array([0.80285714, 0.82142857, 0.81809524, 0.815     ]),
 'split2_test_score': array([0.79904762, 0.81785714, 0.82166667, 0.81785714]),
 'split3_test_score': array([0.79809524, 0.81190476, 0.81428571, 0.80857143]),
 'split4_test_score': array([0.79595238, 0.81642857, 0.81761905, 0.81428571]),
 'mean_test_score': array([0.79919048, 0.81680952, 0.81757143, 0.81385714]),
 'std_test_score': array([0.00227178, 0.00305876, 0.00243929, 0.00301696]),
 'rank_test_score': array([4, 2, 1, 3])}