In [1]:
import pandas as pd
import numpy as np

In [2]:
car = pd.read_csv("car.csv")

In [3]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [4]:
car.shape

(892, 6)

In [5]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [6]:
backup = car.copy()

In [7]:
# year
car = car[car["year"].str.isnumeric()]

In [8]:
car["year"] = car["year"].astype('int32')

<ipython-input-8-b00d757cbe00>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car["year"] = car["year"].astype('int32')

In [9]:
# Price
car = car[car["Price"] != 'Ask For Price']

In [10]:
car["Price"] = car["Price"].str.replace(',','').astype(int)

In [11]:
car
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

In [12]:
# kms_driven

car["kms_driven"] = car["kms_driven"].str.split().str.get(0).str.replace(',','')

In [13]:
car = car[car["kms_driven"].str.isnumeric()]

In [14]:
car["kms_driven"] = car["kms_driven"].astype(int)

In [15]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [16]:
car = car[~car["fuel_type"].isna()]

In [17]:
car.shape

(816, 6)

In [18]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [19]:
car['name'] = car['name'].str.split().str.slice(start=0, stop=3).str.join(' ')

In [20]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [21]:
car = car.reset_index(drop=True)

## Cleaned Data

In [22]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [23]:
car.to_csv('Clean_car_data.csv')

In [24]:
df1 = pd.read_csv('Clean_car_data.csv')

In [25]:
df1.head(10)

,Unnamed: 0,name,company,year,Price,kms_driven,fuel_type
0,0,Hyundai Santro Xing,Hyundai,2007,80000,45000,Petrol
1,1,Mahindra Jeep CL550,Mahindra,2006,425000,40,Diesel
2,2,Hyundai Grand i10,Hyundai,2014,325000,28000,Petrol
3,3,Ford EcoSport Titanium,Ford,2014,575000,36000,Diesel
4,4,Ford Figo,Ford,2012,175000,41000,Diesel
5,5,Hyundai Eon,Hyundai,2013,190000,25000,Petrol
6,6,Ford EcoSport Ambiente,Ford,2016,830000,24530,Diesel
7,7,Maruti Suzuki Alto,Maruti,2015,250000,60000,Petrol
8,8,Skoda Fabia Classic,Skoda,2010,182000,60000,Petrol
9,9,Maruti Suzuki Stingray,Maruti,2015,315000,30000,Petrol

In [27]:
car.describe(include='all')

,name,company,year,Price,kms_driven,fuel_type
count,816,816,816.000000,8.160000e+02,816.000000,816
unique,254,25,NaN,NaN,NaN,3
top,Maruti Suzuki Swift,Maruti,NaN,NaN,NaN,Petrol
freq,51,221,NaN,NaN,NaN,428
mean,NaN,NaN,2012.444853,4.117176e+05,46275.531863,NaN
std,NaN,NaN,4.002992,4.751844e+05,34297.428044,NaN
min,NaN,NaN,1995.000000,3.000000e+04,0.000000,NaN
25%,NaN,NaN,2010.000000,1.750000e+05,27000.000000,NaN
50%,NaN,NaN,2013.000000,2.999990e+05,41000.000000,NaN
75%,NaN,NaN,2015.000000,4.912500e+05,56818.500000,NaN
max,NaN,NaN,2019.000000,8.500003e+06,400000.000000,NaN

In [30]:
car = car[car['Price'] < 6000000]

In [31]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [32]:
car['company'].unique()

array(['Hyundai', 'Mahindra', 'Ford', 'Maruti', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat', 'Force',
       'Mercedes', 'Land', 'Jaguar', 'Jeep', 'Volvo'], dtype=object)

In [33]:
X = car[['name','company', 'year', 'kms_driven', 'fuel_type']]
y = car['Price']

In [35]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
811    270000
812    110000
813    300000
814    260000
815    390000
Name: Price, Length: 815, dtype: int32

In [36]:
y.shape

(815,)

In [37]:
from sklearn.model_selection import train_test_split

In [39]:
x_train, x_test, y_train, y_test =  train_test_split(X,y,test_size=0.2, random_state=655)

In [40]:
from sklearn.linear_model import LinearRegression

In [41]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [42]:
ohe = OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [43]:
column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                      remainder='passthrough')

In [44]:
lr = LinearRegression()

In [45]:
pipe = make_pipeline(column_trans,lr)

In [46]:
pipe.fit(x_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [47]:
y_pred = pipe.predict(x_test)
y_pred

array([ 4.93066536e+05,  2.00198281e+05,  1.89050391e+06,  2.26062455e+05,
        3.54957534e+05,  1.35188927e+05,  6.25161221e+05,  6.67652839e+05,
        5.23150784e+05,  3.96454148e+05,  1.26456926e+06,  7.81884199e+04,
        1.29564506e+05,  2.31568460e+05,  1.87834298e+05,  2.81034684e+05,
        5.78397888e+05,  3.03487242e+05,  4.27523631e+05,  5.66279975e+05,
        4.38010238e+05,  3.05223620e+05,  2.34095313e+05,  1.50462820e+05,
        4.37913961e+05,  4.53522667e+05,  3.00529967e+05,  5.12490357e+05,
        2.80008934e+05,  2.91744210e+05,  2.29871240e+05,  1.71667601e+05,
        2.90576156e+05,  3.65811704e+05,  1.54166566e+05,  5.38094706e+05,
       -1.53827385e+02,  2.63825909e+05,  3.37031738e+05,  1.58787397e+05,
        1.89062551e+06,  6.80362533e+04,  3.74864420e+05,  2.57721381e+05,
        1.71309085e+05,  6.70876564e+05,  2.43535286e+05,  3.78991105e+05,
        1.58315572e+05, -5.48325020e+03,  1.07523175e+06,  1.91806822e+05,
        1.52609410e+06,  5.65821220e+05,  1.97708547e+05,  1.71462498e+05,
        3.36368304e+05,  3.97531106e+04,  8.51366312e+05,  2.59186581e+05,
        5.19386391e+05,  5.39540974e+05,  5.15979655e+04,  5.10813325e+05,
        2.70505872e+05,  4.22519229e+05,  2.23630438e+05,  2.38922377e+05,
        5.09403741e+04,  2.36346218e+05,  5.61120548e+05,  1.27138406e+05,
        5.79518769e+05,  2.19058309e+05,  4.92804423e+05,  2.89249009e+05,
        2.28980875e+05,  3.52650493e+04,  4.84577286e+05,  4.25329254e+05,
        5.78706037e+05,  1.00100312e+06,  5.18903774e+05,  2.62683008e+05,
        2.83569202e+05,  2.37006529e+05,  1.76506182e+05,  5.19741186e+05,
        1.41855129e+06,  5.22728553e+05, -2.27876843e+04,  5.12787568e+05,
        2.56294271e+05,  2.73546306e+05,  2.81034684e+05,  1.50399872e+06,
        5.18451764e+05,  7.34222675e+03,  3.29280572e+05,  2.26856387e+05,
        1.13517841e+05,  2.40618924e+05,  6.05290506e+05,  2.45106995e+05,
        2.45283562e+04,  3.55312565e+05,  1.91114324e+05,  8.26923963e+05,
        3.21410637e+05,  3.26415247e+05,  2.99088214e+05,  4.02698034e+05,
        4.60880821e+05,  1.55931151e+05,  5.14478430e+05,  3.41215876e+05,
        2.73983303e+05,  3.63699634e+05,  5.39032018e+05,  5.06988795e+05,
        4.34883122e+05,  4.09673793e+05,  1.84121616e+06,  7.70954936e+05,
        1.81751969e+06,  3.17652122e+05,  4.23672859e+05,  2.31460357e+04,
        4.41050541e+05,  3.98447236e+05,  2.95337471e+05,  7.55624946e+04,
        1.30165294e+05,  5.95284707e+05,  1.88388342e+05,  1.59796885e+05,
        2.59500433e+05,  2.61855809e+05,  4.61602850e+05,  3.63137465e+05,
        1.87667986e+05,  5.27325064e+05,  2.88008777e+05,  5.10083720e+05,
        3.26146942e+05,  3.55990238e+05,  1.32983305e+05,  9.69185744e+04,
        2.94772445e+05,  6.72234899e+05,  5.94836921e+05,  3.74966621e+05,
        3.99811292e+05,  4.58935208e+05,  1.04422807e+05,  1.57553502e+05,
        3.04138096e+05,  5.81074512e+05,  1.36697205e+06,  3.28374671e+05,
        2.08689233e+05,  1.42510031e+06,  3.83644920e+05])

In [48]:
import numpy as np

In [50]:
pipe.predict(pd.DataFrame(columns= x_test.columns, data=np.array(['Maruti Suzuki Ritz','Maruti',2011,50000,'Petrol']).reshape(1,5)))

array([244959.21431203])

In [51]:
import pickle

In [52]:
pickle.dump(pipe,open("CarPricePredictor.pkl",'wb'))